.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    body{
        background-color: hsl(217, 19%, 24%);
        display: flex;
        justify-content: center;
        align-items: center;
         height: 100vh; 
      
       
    }

    .container{
        display: flex;
        justify-content: center;
        background-color:hsl(217, 19%, 38%);
        border-radius: 15px;
    }

    h1 , .btn, p{
        text-align: center;
    }


    .first-advice{
        color:hsl(150, 100%, 66%);
    }

  .dice-btn{
      display:flex;
      justify-content: center;
      
  }

  #dice-icon, button{
    background-color: hsl(150, 100%, 66%);
  }